@import url('https://fonts.googleapis.com/css2?family=Amiri:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
@import "image-gallery.css";
/* width */
.my-anchor-css-class{
  color: white;


}
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #888;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f1f1f1;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #A1A1A1;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

html{

}

body {

  padding: 0;
  margin: 0;
  background-color: #0F1624;
}


a {
  color: inherit;
  text-decoration: none;
}

#__next{

}

.ProjectContainer{
  display: flex; flex-direction: row;
  background-color: #00f50c;
}
.sliderClass{

}
